<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
</head>
<body>
  <section>
    <form id="change-password-form">
      <h1>Change Password</h1>
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input id="current-password" name="current-password" type="password" required>
        <label for="current-password">Current Password</label>
      </div>
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input id="new-password" name="new-password" type="password" required>
        <label for="new-password">New Password</label>
      </div>
      <button type="submit">Change Password</button>
    </form>
  </section>
</body>
<script>
  const changePasswordForm = document.getElementById('change-password-form');

  changePasswordForm.addEventListener('submit', (e) => {
    e.preventDefault();
    const currentPassword = document.getElementById('current-password').value;
    const newPassword = document.getElementById('new-password').value;

    // Get the current password from session storage
    const sessionPassword = sessionStorage.getItem('sessionPassword');

    // Check if the current password matches the one stored in session storage
    if (currentPassword === sessionPassword) {
      // Update the password in session storage
      sessionStorage.setItem('sessionPassword', newPassword);
      alert('Password changed successfully');
      
      // Redirect to the login page
      window.location.href = '/login';
      
      // After redirect, replace the state to prevent back navigation
      window.history.replaceState(null, null, '/login');
    } else {
      alert('Current password is incorrect');
    }
  });
</script>
</html>
